
.carousel-item .carousel-img {
  max-width: 100%;
  height: auto;
}
.carousel-smaller {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start
}

.cart-container {
  background-color: #f8f8f8;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel {
  margin-top: 50px;
}

.carousel-container {
  position: relative;
}

.cart-container h2 {
  margin-bottom: 10px;
}

.cart-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.cart-actions label {
  margin-right: 10px;
}

.cart-actions select {
  margin-right: 10px;
}

.btn-primary {
  width: 70%; 
  background-color: #4a2525;
  color: #ffffff;
  border-color: #5d1414;
  padding: 10px 20px;
  font-size: 16px;
}

  .container        {
  text-align: center;
  }

  .container-center {
    display: contents;
    justify-content: center;
    align-items: center;
    height: 30vh;
  }

  .product-details { 
    margin-top: 10px;
    
  }
  
  .product-description {
    max-width: 100%;
    word-wrap: break-word;
  }
  
  
  





  